/* Work sans Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* sherd style */
.menu-text {
    color: #3C354F;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.common-btn {
    padding: 21px 40px;
    background-color: #FF42A5;
    border-radius: 48px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;


}

.pt-color {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

/* logo style */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo p::first-letter {
    color: #FF42A5;
    font-size: 45px;
    font-weight: 700;
}

.logo p {
    padding-left: 20px;
    font-size: 45px;
    font-weight: 700;
}

.logo img {
    display: block;
    width: 86px;
}

/* nav style */

nav {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 37px;
    background: #FFF;
    padding-right: 200px;
    padding-left: 200px;
}

.menu-item ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu-item ul a {
    text-decoration: none;
}

.menu-item ul li {
    padding-left: 32px;
}

.menu-item ul li:first-child {
    padding-right: 0px;
}

.menu-item button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 262px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border: none;
}

.menu-item button i {
    font-size: 30px;
    padding: 0px 10px 0px 10px;
    color: red;
}

/* banner section */
.banner {
    padding-left: 50px;
    padding-right: 50px;
}

.banner-section-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.banner-section-text {
    width: 50%;
}

.banner-section-text h2 {
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-section-text h1 {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-section-text p {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 17px 0px;
}

.banner-section-text button:last-child {
    margin-left: 24px;
    background-color: #4EC5F7;
}


.banner-section-img {
    width: 50%;
}

.banner-section-img img {

    width: 100%;
}

/* we are gamer style  */

.we-are-gamer-container {
    max-width: 1920px;
    min-height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    ;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 150px;
}

.we-are-gamer-max {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.we_are_gamer_text {
    text-align: right;
    max-width: 520px;
}

.we_are_gamer_img img {
    display: block;
    width: 95%;
}

.we_are_gamer_text h3 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 10px;
}

.we_are_gamer_text p {
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 0px;
}

.we_are_gamer_text p:last-child {
    color: #534C64;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    padding-top: 0px;
}

/* online-game-section */

.online-game-text {
    max-width: 1920px;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 48px;
}

.online-game-text h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.online-game-text p {
    color: #534C64;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

.game-card-container {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin-bottom: 100px;
    gap: 10px;
}

.game-card {
    padding: 10px;
    width: 210px;
}

.game-card img {
    width: 200px;
}

/*  play instaant section */

.play-instant-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.play-instant-text {
    text-align: right;
    margin-right: 200px;
}

.play-instant-text h2 {
    font-weight: 700px;
    font-size: 2rem;
}

.play-instant-text p {
    color: #534C64;
    font-size: 0.8rem;
    margin-top: 10px;
}

.img-1 {
    width: 400px;
}

.img-2 {
    border-radius: 8px;
    border: 10px solid #FFF;
}

.img-2 img {
    width: 200px;
    margin-top: -200px;
    margin-left: -100px;
}

/* <!-- other game section --> */


.other-game-container {
    max-width: 1920px;
    min-height: 430px;
}

.multi-game {
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    padding-top: 120px;
}

.single-game {
    display: flex;
    justify-content: center;
    align-items: center;

}


.single-game button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: white;
    border: 2px solid #FF42A5;
    border-radius: 50px;
    border-color: white;
}

.more-game-btn img {
    padding: 10px;
}

.more-game-btn:hover {
    border: 2px solid #FF42A5;
    border-radius: 50px;
    color: #FF42A5;
    cursor: pointer;
}

/* footer section */

footer {
    background: #0B0223;
    height: 400px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-logo p::first-letter {
    color: #FF42A5;
    font-size: 2rem;
    font-weight: 700;
}

.footer-logo p {
    padding-left: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: #FFF;
}

.footer-logo img {
    display: block;
    width: 50px;
}

.footer-item ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer-item ul a {
    text-decoration: none;
    color: #FFF;
}

.footer-item ul li {
    padding-left: 50px;
}

.scosial-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.scosial-icon img {
    padding: 20px;
    width: 40px;
}

.footer-item-2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer-item-2 ul li {
    padding-left: 50px;
}

.footer-item-2 ul a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 10px;
    font-weight: 600;
}

.footer-p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    padding-top: 30px;
}